@model Dictionary<Guid, bool>

@{
	ViewData["Title"] = "View Student's Answers";

}
<table class="table table-hover">
    <thead>
        <tr>
            <td scope="col">Questions's ID</td>
            <td scope="col">Answer</td>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        @foreach (var item in Model) {
            <tr class="@((item.Value)?"table-success":"table-danger")">
                <td>@item.Key</td>
                <td>
                    <i class="material-icons">@((item.Value) ? "thumb_up" : "thumb_down")</i>
                </td>
            </tr>
		}
    </tbody>
</table>