@model Question
@using Newtonsoft.Json
@{
	ViewData["Title"] = "Add Question";
}
<script>
	SetCountOfAnswers(@((Model == null)?4 : Model.SeparatedAnswers.Length));
</script>
<form action="/Question/Add" method="post">
	<input type="hidden" id="correct" name="CorrectAnswer" value="@((Model == null)?0:Model.CorrectAnswer)" />
	<label for="questionText"></label>
	<input id="questionText" type="text" class="form-control" value="@Model?.QuestionText" name="QuestionText" placeholder="Question Text" />
	<div id="answers">
		@if (Model != null)
			@for (int i = 0; i < Model.SeparatedAnswers.Length; i++) {
				<div class="text-center">
					<input type="text" class="d-inline-block" name="SeparatedAnswers[@i]" id="@("sa" +i)" placeholder="Answer" />
					<div onclick="SetAnswer(@i)" id="answer@i" class="btn btn-link d-inline-block">Correct Answer</div>
				</div>
			}
			else {
				<div class="text-center">
					<input type="text" class="d-inline-block" name="SeparatedAnswers[0]" id="sa0" placeholder="Answer" />
					<div onclick="SetAnswer(0)" id="answer0" class="btn btn-success d-inline-block">Correct Answer</div>
				</div>
				<div class="text-center">
					<input type="text" class="d-inline-block" name="SeparatedAnswers[1]" id="sa1" placeholder="Answer" />
					<div onclick="SetAnswer(1)" id="answer1" class="btn btn-link d-inline-block">Correct Answer</div>
				</div>
				<div class="text-center">
					<input type="text" class="d-inline-block" name="SeparatedAnswers[2]" id="sa2" placeholder="Answer" />
					<div onclick="SetAnswer(2)" id="answer2" class="btn btn-link d-inline-block">Correct Answer</div>
				</div>
				<div class="text-center">
					<input type="text" class="d-inline-block" name="SeparatedAnswers[3]" id="sa3" placeholder="Answer" />
					<div onclick="SetAnswer(3)" id="answer3" class="btn btn-link d-inline-block">Correct Answer</div>
				</div>
			}
	</div>
	<div class="btn btn-info" onclick="UpdateValues()">Add Answer</div><br />
	<input type="submit" value="Add" class="btn btn-primary" />
</form>
