
@{
	ViewData["Title"] = "Register";
}

<form class="signForm bodyContainer" method="post" action="/User/Register">
	<h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
	<input type="text" class="form-control" name="login" placeholder="Login" />
	<input type="password" class="form-control" name="password" placeholder="Password" />
	<input type="text" class="form-control" name="registerCode" placeholder="Register Code" />
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Log In" />
	<br />
</form>